In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
#data
path = r"C:\Users\Alexander\Desktop\compstat\Homework2\data\RealEstate.csv"
data = pd.read_csv(path)
data.head()

,MLS,Location,Price,Bedrooms,Bathrooms,Size,Price/SQ.Ft,Status
0,132842,Arroyo Grande,795000.0,3,3,2371,335.30,Short Sale
1,134364,Paso Robles,399000.0,4,3,2818,141.59,Short Sale
2,135141,Paso Robles,545000.0,4,3,3032,179.75,Short Sale
3,135712,Morro Bay,909000.0,4,4,3540,256.78,Short Sale
4,136282,Santa Maria-Orcutt,109900.0,3,1,1249,87.99,Short Sale

In [4]:
# We need to create indicator variables for the location

In [5]:
locations = list(set(data["Location"]))
location_dict = {}

for location in locations[0:-1]:
    location_bool = np.ndarray.astype(np.array(data["Location"] == location), "float32")
    data[location] = location_bool

In [17]:
x = data.drop(["Status", "Price", "Location"], axis = 1)
y = data["Price"]
#reg.fit(x1, y)

In [21]:
short_sale_reg = LinearRegression()
regular_reg = LinearRegression()
foreclosure_reg = LinearRegression()

In [23]:
# Short Sale data
x_short_sale = x[data["Status"] == "Short Sale"]
y_short_sale = y[data["Status"] == "Short Sale"]
short_sale_reg.fit(x_short_sale, y_short_sale)

# Regular Sale data
x_regular = x[data["Status"] == "Regular"]
y_regular = y[data["Status"] == "Regular"]
regular_reg.fit(x_regular, y_regular)

# Foreclosure Sale data
x_foreclosure = x[data["Status"] == "Foreclosure"]
y_foreclosure = y[data["Status"] == "Foreclosure"]
foreclosure_reg.fit(x_foreclosure, y_foreclosure)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
result = pd.DataFrame({x.columns[i] : [short_sale_reg.coef_[i], regular_reg.coef_[i], foreclosure_reg.coef_[i]] for i in range(len(x.columns))})

short_sale_reg.coef_