In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
#data
path = r"C:\Users\Alexander\Desktop\compstat\Homework2\data\RealEstate.csv"
data = pd.read_csv(path)
data.head()

,MLS,Location,Price,Bedrooms,Bathrooms,Size,Price/SQ.Ft,Status
0,132842,Arroyo Grande,795000.0,3,3,2371,335.30,Short Sale
1,134364,Paso Robles,399000.0,4,3,2818,141.59,Short Sale
2,135141,Paso Robles,545000.0,4,3,3032,179.75,Short Sale
3,135712,Morro Bay,909000.0,4,4,3540,256.78,Short Sale
4,136282,Santa Maria-Orcutt,109900.0,3,1,1249,87.99,Short Sale

In [4]:
# We need to create indicator variables for the location

In [5]:
locations = list(set(data["Location"]))
location_dict = {}

for location in locations[0:-1]:
    location_bool = np.ndarray.astype(np.array(data["Location"] == location), "float32")
    data[location] = location_bool

In [17]:
x = data.drop(["Status", "Price", "Location"], axis = 1)
y = data["Price"]
#reg.fit(x1, y)

In [21]:
short_sale_reg = LinearRegression()
regular_reg = LinearRegression()
foreclosure_reg = LinearRegression()

In [41]:
# Short Sale data
x_short_sale = x[data["Status"] == "Short Sale"]
y_short_sale = y[data["Status"] == "Short Sale"]
short_sale = x_short_sale
short_sale["price"] = y_short_sale
short_sale.to_csv("short_sale.csv")
short_sale_reg.fit(x_short_sale, y_short_sale)

# Regular Sale data
x_regular = x[data["Status"] == "Regular"]
y_regular = y[data["Status"] == "Regular"]
regular = x_regular
regular["price"] = y_regular
regular.to_csv("regular.csv")
regular_reg.fit(x_regular, y_regular)

# Foreclosure Sale data
x_foreclosure = x[data["Status"] == "Foreclosure"]
y_foreclosure = y[data["Status"] == "Foreclosure"]
foreclosure = x_foreclosure
foreclosure["price"] = y_foreclosure
foreclosure.to_csv("forclosure.csv")
foreclosure_reg.fit(x_foreclosure, y_foreclosure)

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
result = pd.DataFrame({x.columns[i] : [short_sale_reg.coef_[i], regular_reg.coef_[i], foreclosure_reg.coef_[i]] for i in range(len(x.columns))})

In [36]:
result

,Arroyo Grande,Atascadero,Bradley,Cambria,Cayucos,Creston,Grover Beach,Lompoc,Los Osos,Morro Bay,...,San Luis Obispo,San Miguel,San Simeon,Santa Margarita,Santa Maria-Orcutt,Santa Ynez,Size,Soledad,Solvang,Templeton
0,-1.455192e-11,5.820766e-11,-1.273293e-10,0.000000e+00,0.000000,0.000000,6.402843e-10,0.000000,0.000000e+00,5.820766e-11,...,-36758.909950,-46973.466987,-2.182787e-10,0.000000,-65462.260957,1.549332e+05,204.578751,-2.546585e-11,-28841.711780,-19449.521163
1,3.018670e+04,-1.593769e+05,-2.725056e+05,-2.451125e+05,-203542.710296,-87817.245269,-2.379382e+05,344174.188001,-2.706757e+04,-1.508408e+05,...,0.000000,0.000000,2.910383e-10,0.000000,188224.940155,-4.365575e-11,481.627566,0.000000e+00,0.000000,0.000000
2,0.000000e+00,0.000000e+00,1.091394e-10,-1.818989e-12,0.000000,0.000000,-4.365575e-11,0.000000,1.115552e-12,0.000000e+00,...,-62127.327394,13217.719449,-2.641362e+04,113650.671601,13177.452240,4.473043e+04,197.914887,-1.671636e+04,-23811.160972,32996.712356

In [38]:
true_result = result.T
true_result.columns = ["Short Sale", "Regular", "Foreclosure"]
#true_result